[MASTER]
max-line-length=120
[MESSAGES CONTROL]
disable=no-self-use,                    # used for VIKTOR views
        unused-argument,                # used for VIKTOR views
        no-name-in-module,              # used for VIKTOR imports
        import-error,                   # used for VIKTOR imports
        duplicate-code,
        too-few-public-methods,
        too-many-public-methods,
        too-many-branches,
        too-many-boolean-expressions,
        too-many-instance-attributes,
        too-many-statements,
        too-many-arguments,
        too-many-locals,
        too-many-lines,
        too-many-return-statements,
        too-many-nested-blocks,
